h1 {
	color:#2B3499;
}

.heading {
	background-image: url('csshead.png');
}

body {
	background-color: #FFD099;
}

.container {
	display: flex;
}

.left {
	flex: 1;
	background-color: #FF9209;
	color: #2B3499;
}

.right {
	flex: 3;
	background-color: #2B3499;
	color: #FFD099;
	padding: 20px;
}

.img-container {
	width: 300px;
	height: 200px;
	position: relative;
}

.cssimg {
	position: absolute;
	width: 100%;
	height: 300px;
	opacity: 0;
	animation: imgSwitch 6s linear infinite;
}

.cssimg1 {
	width: 100%;
	height: 300px;
}

.cssheading {
	width: 100%;
	height: 100px;
}
#img1 {
	animation-delay: 0s;
}
#img2 {
	animation-delay: 2s;
}
#img3 {
	animation-delay: 4s;
}

@keyframes imgSwitch {
	0%, 100% {
        opacity: 0;
	}
	10%, 90% {
		opacity: 1;
	}
}

